.LoginContainer{
    justify-content: center;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.left-box{
    height: 581px;
    width: 380px;
    margin-bottom: 12px;
    align-self: center;
    background-position: -46px 0;
    flex-basis: 380.32px;
    margin-right: 32px;
}

.img{
    width: 380px;
    height: 570px;
}

.right-box{
    height: 570px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
    vertical-align: baseline;
}

.right-top-box{
    width: 350px;
    height: 400px;
    max-width: 350px;
    align-items: center;
    border: 1px solid rgb(219,219,219);
    border-radius: 1px;
    box-sizing: border-box;
    margin: 10px 0;
}

.right-bottom-box{
    width: 350px;
    height: 63px;
    max-width: 350px;
    align-items: center;
    border: 1px solid rgb(219,219,219);
    border-radius: 1px;
    box-sizing: border-box;
    padding-top: 20px;
}

.logo {
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/yx/r/WtxJZZ3-9ZP.png);
    background-size: 176px 172px;
    width: 176px;
    height: 50px;
    display: inline-block;
    margin: 50px auto 15px 85px;
}

.div-center{
    margin-bottom: 20px;
    display: block;
}

.form-container{
    border: 0;
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 100%;
    margin: 0;
    max-width: 350px;
    padding: 0;
    vertical-align: baseline;
}

h2{
    color: #000;
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}

button{
    background-color: rgb(0, 149, 246);
    border: none;
    border-radius: 8px;
    color: white;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 16px!important;
    text-align: center;
    margin: 0px 40px;
    align-items: stretch;
    align-self: auto;
    justify-content: flex-start;
    flex-direction: column;
    width: 270px;
}

.form-div{
    margin: 10px 40px 5px;
    display: block;
    text-align: center;
}

.bar{
    border-left: 0;
    box-sizing: border-box;
    display: flex;
    padding-right: 0;
    margin: 0 auto 15px 3px;
    font-weight: 600;
    color: #8E8E8E;
    font-size: .8125rem;
    text-align: center;
}

.div-inputbox{
    font-size: 14px;
    background-color: rgb(245,245,245);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: black;
    flex-direction: row;
    border-radius: 3px;
    position: relative;
    border: 1px solid rgb(219,219,219);
    margin-bottom: 10px;
}

label{
    border: 0;
    display: flex;
    flex: 1 0 0px;
    font: inherit;
    font-size: 100%;
    height: 36px;
    margin: 0;
    min-width: 0;
    padding: 0;
    color: black;
}

input{
    text-align: left;
    background: rgb(250,250,250);
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    width: 250px;
    outline: none;
    padding: 9px 0 7px 8px;
    font: inherit;
    font-size: 13px;
}

span{
    font-weight: 400;
    margin: 12px!important;
    color: #8E8E8E;
    font-size: 12px;
    text-align: center;
}

.facebook{
    color: #385185;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: rgb(0, 149, 246);
    font-weight: bold;
}